@tailwind base;

@layer base {
    .product-rating {
        color: #777;
        font-size: 14px;
        margin-bottom: 5px;
    }

    /* ========== MODAL ========== */
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 95vw;
        height: 95vh;
        background: rgba(0, 0, 0, 0.863);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: #e5e5e5;
        overflow-y: auto;
    }

    .product-modal {
        background: #fff;
        width: 450px;
        padding: 20px;
        border-radius: 10px;
        animation: fadeIn 0.3s ease;
    }

    .modal-img {
        width: 100%;
        max-height: 280px;
        object-fit: contain;
        margin-bottom: 15px;
    }

    .modal-title {
        font-size: 18px;
        font-weight: bold;
    }

    .modal-price {
        font-size: 20px;
        font-weight: bold;
        color: green;
        margin-top: 8px;
    }

    .modal-close {
        padding: 8px 12px;
        background: #222;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 6px;
        margin-top: 12px;
    }
}


/* Simple fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}